<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>07.10.2018 Home work_14</title>

    <link  rel="stylesheet" type="text/css" href="src/css/styles.css">  

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script  src="src/js/script.js"></script>
</head>
<body>

 <button>PUSH ME</button>
 <div>
    <p><%= cityWeather.name %></p>
    <p><%= cityWeather.wind.speed %></p>
    <p><%= cityWeather.wind.deg %></p>
   
   
  

 </div>



</body>
</html>
