body {
    background-image: url("/src/images/back4.jpg");  	
    background-repeat: no-repeat;
    background-size: cover; 
 
}
.container {
    min-width: 368px;
    margin: auto;
    padding: 0;
    text-align: center;
}
.navbar {
    margin: auto;
    margin-top: 30px;
    background-image: url("/src/images/back3.jpg");  	
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 10px;
}
.btn {
   background-color:  transparent;
   color: white;
}

.navbar-brand {
    font-size: 24px;
    margin-left: 14px;
    color: white !important;
}
.navbar-right{
    margin-top: 5px;
}

@media (max-width: 992px) and (min-width: 768px) { 
    .navbar-brand {
        
        margin-left: 32px;
    }
}
@media (max-width: 767px) { 
    .navbar {
    
        margin-top: 0px;
      
    }

}

