div{
    height: 300px;
    width: 60%;
    margin-top: 20px;
    border: 2px solid red;
    padding: 30px;
}
button{
    background-color: bisque;
    border: 1px solid;
}
button:active {
    background-color: rgba(240, 142, 120, 0.596);
}
p{
    font-size: 25px;
}